/*** Testimonial ***/
/*** Testimonial ***/
.testimonial {
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url('../img/carousel-2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
  
}

.testimonial .carousel-inner {
    padding-left: 65px;
    padding-right: 65px;
}

.testimonial .carousel-item {
    padding: 30px;
}

.testimonial .carousel-control-prev,
.testimonial .carousel-control-next {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 1px;
    font-size: 18px;
    transition: .5s;
    
}

.testimonial .carousel-control-prev:hover,
.testimonial .carousel-control-next:hover {
    color: var(--primary);
    background: #FFFFFF;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 100%, 100%;
}
